# Dependencies
node_modules/

# Build
dist/

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
/src/generated/prisma